# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
/example-manuscript/actual.R
/example-manuscript/manuscript-inline.html
/example-manuscript/tests/
/Makefile~
